# ---- Basic setup ---- #
# pyenv local 3.8.16
# pip install --no-cache-dir --upgrade pip setuptools wheel
# python -m venv ./venv
# source ./venv/bin/activate

# python -m pip install --no-cache-dir  --upgrade pip setuptools wheel
# python -m pip install --no-cache-dir  --upgrade cython
# python -m pip install --no-cache-dir -r requirements_py3.8.txt

scikit-learn==1.1.0
shap==0.40.0
joblib
pandas
numpy
matplotlib
seaborn
pylint
autopep8